/* app css stylesheet */

.menu {
    text-align: right;
    list-style: none;
    border-bottom: 1em solid black;
    border-top: 0em;
    margin-bottom: 0em;
    padding: 2 0 0.5em;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: large;
    color: black;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.body {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: medium;
    font-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(backgrounds/confectionary.png);
}

.title {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 2.5em;
    color: #0072BC;
    text-align: center;
    height: 2em;
    background-image: url(backgrounds/confectionary.png);

}

.para {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    color: #0072BC;
}

.sub {
    font-size: 1em;
    color: red;
    font-style: italic;
}

.paraDetailList {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.1em;
    color: #000000;
}

.paraDetail {
    border-bottom: .15em solid black;
    width: 9.875em;
}

.paraAdd {
    border-bottom: .15em solid black;
    width: 11.875em;
}

.paraList {
    border-bottom: .15em solid black;
    width: 12.875em;
}

.leftSide {
    line-height: 2em;
    background-image: url(backgrounds/congruent_outline.png);
    height: 57.5em;
    width: 12.5em;
    float: left;
    padding: .3125em;
}

.section {
    width: 34.375em;
    float: left;
    padding: 3.125em;
    display: inline-flex;
    flex-direction: column;
}

.rightSide {
    line-height: 2em;
    background-image: url(backgrounds/congruent_outline.png);
    height: 57.5em;
    width: 12.5em;
    float: right;
    padding: .3125em;
}

.pictureArea {
    line-height: 2em;
    height: 57.5em;
    width: 26.5em;
    float: right;
    padding: .625em;
}

.stitched {
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px;
    background: #ff0030;
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #000;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;

}

.recipePhotoName {
    color: black;
}

.footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: .3125em;
    width: 100%;
    height: 4.25em;
    position: relative;
    bottom: 0;
    left: 0;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.pictureDetail {
    margin-top: 30px;
}

.required {
    color:red;
    font-style: italic;
}







