/* app css stylesheet */

.menu {
    text-align: right;
    list-style: none;
    border-bottom: 1em solid black;
    border-top: 0em;
    margin-bottom: 0em;
    padding: 2 0 0.5em;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: large;
    color: black;
    background:#ADFF2F;

}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.body {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: medium;
    font-color: black;
    background: #d3d3d3;
    height:100%;
    margin:0;
	padding:0;
}

.title {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 2.5em;
    color: #0072BC;
    background: #ADFF2F;
    text-align: center;
    height: 2em;
}

.para {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    color: #0072BC;
    background: #d3d3d3;
}

.paraDetailList {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 1.25em;
    color: #000000;
    background: #d3d3d3;
}

.paraDetail {
    border-bottom: .15em solid black;
    width: 9.875em;
}

.paraAdd {
    border-bottom: .15em solid black;
    width: 11.875em;
}

.paraList {
    border-bottom: .15em solid black;
    width: 13.875em;
}

.aSide {
    line-height:2em;
    background-color:lightslategray;
    height:37.5em;
    width:12.5em;
    float:left;
    padding:.3125em;
}

.section {
    width:34.375em;
    float:left;
    padding:3.125em;
    display:inline-block;
}

.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:.3125em;
    width:100%;
	height:4.25em;
	position:relative;
	bottom:0;
	left:0;
}

.wrapper {
	min-height:100%;
	position:relative;
}







